body {
  background-color: #333;
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.scene {
  height: 100px;
  width: 100px;
  /* perspective: 1000px; */
}

.container {
  width: 200px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotate3d(0deg);
  transition: all 1s;
}

.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8 {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotate3d(0deg);
  transition: all 1s;
}

.container-2 {
  translate: 120px 120px 0px;
}
.container-3 {
  translate: 120px 10px 0px;
}
.container-4 {
  translate: 10px 120px 0px;
}
.container-5 {
  translate: 230px 120px 0px;
}
.container-6 {
  translate: 120px 230px 0px;
}
.container-7 {
  translate: 120px 120px 110px;
}
.container-8 {
  translate: 120px 120px -110px;
}
[class|="outer"] {
  position: absolute;
  height: 340px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 4px solid black;
  opacity: 0.6;
}

[class|="cube"] {
  position: absolute;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid black;
}

.front-side {
  transform: translateZ(50px) rotateY(0deg);
  background-color: red;
}
.back-side {
  transform: translateZ(-50px) rotateY(180deg);
  background-color: orange;
}
.right-side {
  transform: translateX(50px) rotateY(90deg);
  background-color: blue;
}
.left-side {
  transform: translateX(-50px) rotateY(-90deg);
  background-color: green;
}
.up-side {
  transform: translateY(-50px) rotateX(90deg);
  background-color: yellow;
}
.down-side {
  transform: translateY(50px) rotateX(-90deg);
  background-color: white;
}

.front-outer {
  transform: translateZ(170px) rotateY(0deg);
  background-color: red;
}
.back-outer {
  transform: translateZ(-170px) rotateY(180deg);
  background-color: orange;
}
.right-outer {
  transform: translateX(170px) rotateY(90deg);
  background-color: blue;
}
.left-outer {
  transform: translateX(-170px) rotateY(-90deg);
  background-color: green;
}
.up-outer {
  transform: translateY(-170px) rotateX(90deg);
  background-color: yellow;
}
.down-outer {
  transform: translateY(170px) rotateX(-90deg);
  background-color: white;
}

.controls {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  max-height: 250px;
  flex-wrap: wrap;
}
.controls button {
  padding: 12px 26px;
  margin: 5px;
  border: 2px solid purple;
  background-color: aqua;
  border-radius: 50px;
  outline: none;
}
.coordinates {
  color: powderblue;
  border: 2px dashed;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
}
.coordinates h3,
p {
  padding: 10px;
  margin: 0;
  text-align: center;
  border-bottom: 2px dashed;
}
