body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* height: 600px; */
}

.flex {
  display: flex;
  height: 74vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.scene {
  height: 340px;
  width: 340px;
  perspective: 600px;
}
.invisible-box {
  width: 340px;
  height: 340px;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotate3d(0deg);
  transition: all 0.3s ease-in;
}

.container,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8 {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotate3d(0deg);
  transition: all 1s;
}
.container {
  width: 340px;
  height: 340px;
  translate: 0px 0px 0px;
}

.container-2 {
  translate: 120px 120px 0px;
}
.container-3 {
  translate: 120px 10px 0px;
}
.container-4 {
  translate: 10px 120px 0px;
}
.container-5 {
  translate: 230px 120px 0px;
}
.container-6 {
  translate: 120px 230px 0px;
}
.container-7 {
  translate: 120px 120px 110px;
}
.container-8 {
  translate: 120px 120px -110px;
}
.outer {
  position: absolute;
  height: 340px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 4px solid black;
  opacity: 0.2;
  transition: all 1s;
}

.cube-2,
.cube-3,
.cube-4,
.cube-5,
.cube-6,
.cube-7,
.cube-8 {
  color: white;
  position: absolute;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  opacity: 0.4;
  transition: all 1s;
}
.outer {
  background-color: white;
  border: 2px solid black;
}
.cube-2 {
  background-color: black;
  border: 2px solid white;
  opacity: 0.4;
}
.cube-3 {
  background-color: red;
  border: 2px solid orange;
}
.cube-6 {
  background-color: orange;
  border: 2px solid red;
}
.cube-4 {
  background-color: blue;
  border: 2px solid green;
}
.cube-5 {
  background-color: green;
  border: 2px solid blue;
}
.cube-7 {
  background-color: yellow;
  border: 2px solid white;
}
.cube-8 {
  background-color: white;
  border: 2px solid yellow;
}

.front-side {
  transform: translateZ(50px) rotateY(0deg);
  /* background-color: red; */
}
.back-side {
  transform: translateZ(-50px) rotateY(180deg);
  /* background-color: orange; */
}
.right-side {
  transform: translateX(50px) rotateY(90deg);
  /* background-color: blue; */
}
.left-side {
  transform: translateX(-50px) rotateY(-90deg);
  /* background-color: green; */
}
.up-side {
  transform: translateY(-50px) rotateX(90deg);
  /* background-color: yellow; */
}
.down-side {
  transform: translateY(50px) rotateX(-90deg);
  /* background-color: white; */
}

.front-outer {
  transform: translateZ(170px) rotateY(0deg);
  /* background-color: red; */
}
.back-outer {
  transform: translateZ(-170px) rotateY(180deg);
  /* background-color: orange; */
}
.right-outer {
  transform: translateX(170px) rotateY(90deg);
  /* background-color: blue; */
}
.left-outer {
  transform: translateX(-170px) rotateY(-90deg);
  /* background-color: green; */
}
.up-outer {
  transform: translateY(-170px) rotateX(90deg);
  /* background-color: yellow; */
}
.down-outer {
  transform: translateY(170px) rotateX(-90deg);
  /* background-color: white; */
}

.controls {
  bottom: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: repeat(6, 30px);
}
.controls button {
  width: 75px;
  height: 30px;
  border: 2px solid purple;
  background-color: aqua;
  border-radius: 50px;
  font-size: small;
  outline: none;
}
.coordinates {
  color: powderblue;
  border: 2px dashed;
  position: absolute;
  top: 0;
  margin: 15px;
}
.coordinates h3,
p {
  padding: 10px;
  margin: 0;
  text-align: center;
  border-bottom: 2px dashed;
}
